name: Ejecutar pruebas en paralelo

on:
  push:
    branches:
      - main

jobs:
  test:
    strategy:
      matrix:
        instance: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
    runs-on: ubuntu-latest

    steps:
      - name: Clonar el repositorio
        uses: actions/checkout@v3

      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Instalar dependencias
        run: npm install

      - name: Ejecutar pruebas en instancia ${{ matrix.instance }}
        run: |
          echo "Ejecutando pruebas en instancia ${{ matrix.instance }}"
          npm run start
